---
import Layout from '../layouts/Layout.astro';
import {Player} from '../components/Player'
---

<Layout title="Welcome to Astro.">
	<main>
		<Player manifestURL='https://avannotate.github.io/rebecca/manifests/manifest.json' client:only="react"/>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
		line-height: 1.6;
	}
</style>
